{% extends "base.html" %}
{% block title %}Início - Projetomais{% endblock %}

{% block content %}

<div class="pagina">
    <div class="welcome-box">
        <h1 class="titulo-principal">Bem-vindo ao Projetomais</h1>

        <p class="welcome-text">
            Plataforma desenvolvida como trabalho de conclusão de curso (TCC), para centralização e organização de projetos acadêmicos do Instituto Federal do Triângulo Mineiro (IFTM).<br>
            <br>
            Utilize o menu superior para navegar entre os módulos do sistema.
        </p>

        {% if current_user.is_authenticated %}
            <p><strong>Olá, {{ current_user.nome }}!</strong></p>
        {% endif %}
    </div>
</div>

{% endblock %}
